@model MusicStore__1_.Models.CreateRoleViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div>
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName"></input>
    </div>
    <input type="submit" value="Create"></input>
</form>
