@model IEnumerable<MusicStore__1_.Models.RoleViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-action="CreateRole" asp-controller="Admin">Create Role</a>
<h1>Roles</h1> 
@foreach (var role in Model)
{
    <div>
        <h4>@role.RoleName</h4>
        <a asp-action="EditRole" asp-controller="Admin" asp-route-roleId="@role.RoleId">Edit Role</a>
    </div>
}